.greeting {
    margin: 2.92vw auto;
    width: 64.67vw;
}
.greeting  h2 {
    font-family: 'Century Gothic';
    font-size: 1.83vw;
    color: #ffffff;
    font-weight: 100;
    margin-left: 3.61vw;
}
.greeting .title_h1 {
    display: grid;
    width: max-content;
    position: relative;
}
.greeting .title_h1 h1 {
    font-family: 'IRON MAN OF WAR';
    font-size: 8.38vw;
}
.greeting .title_h1 .title_h1__one {
    position: relative;
    text-shadow: 2px 2px 1px rgba(122, 122, 122, 0.88);
    background: linear-gradient(-38deg, #ececec 0%,#545454 76%,#858585 100%);
    -webkit-text-stroke: 1px rgba(255,255,255,.01);
    -webkit-background-clip: text;
    mix-blend-mode: multiply;
}
.greeting .title_h1 .title_h1__two {
    background: url(../../images/text.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}
.greeting .button {
    position: relative;
    width: max-content;
    margin: 1.46vw auto 3.66vw auto;
    display: grid;
    justify-content: center;
}
.greeting .button button {
    position: relative;
    font-size: 1.83vw;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #464646;
    border-radius: 0.73vw;
    outline: none;
    padding: 1.26vw 5.37vw 1.26vw 5.37vw;
}
.greeting .button .button__one {
    background: linear-gradient(-38deg, #ececec 0%,#545454 76%,#858585 100%);
    -webkit-background-clip: border-box;
    border: 1px solid transparent;
    justify-self: center;
}
.greeting .button .button__two {
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    background: #a7cd3a;
    border: none;
}
.greeting .button .button__two::before {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: 0.73vw;
    box-shadow: 2px 2px 1px rgba(122, 122, 122, 0.88);
    mix-blend-mode: multiply;
}
.greeting .text {
    position: relative;
    background: rgba(28, 28, 28, 0.5);
    border: 1px solid #ffffff;
    border-radius: 0.73vw;
    margin: 0 3.61vw;
}
.greeting .text p {
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 1.52vw;
    color: #ffffff;
    text-align: center;
    padding: 0.73vw;
}
.greeting .text p span {
    font-weight: bold;
}

@media(max-width: 1366px) {
    .greeting {
        margin: 40px auto;
        min-width: 926px;
    }
    .greeting  h2 {
        font-size: 25px;
        margin-left: 54px;
    }
    .greeting .title_h1 h1 {
        font-family: 'IRON MAN OF WAR';
        font-size: 115px;
    }
    .greeting .button {
        margin: 20px auto 50px auto;
    }
    .greeting .button button {
        font-size: 25px;
        padding: 17px 75px;
    }
    .greeting .text {
        margin: 0 54px;
    }
    .greeting .text p {
        font-size: 21px;
        padding: 13px;
    }
}

@media(max-width: 960px) {
    .greeting {
        margin: 4.16vw auto;
        min-width: calc(100vw - 3.54vw);
    }
    .greeting  h2 {
        font-size: 2.6vw;
        margin-left: 5.62vw;
    }
    .greeting .title_h1 h1 {
        font-family: 'IRON MAN OF WAR';
        font-size: 11.97vw;
    }
    .greeting .button {
        margin: 2.08vw auto 5.2vw auto;
    }
    .greeting .button button {
        font-size: 2.6vw;
        padding: 1.35vw 7.81vw;
    }
    .greeting .text {
        margin: 0 5.62vw;
    }
    .greeting .text p {
        font-size: 2.1vw;
        padding: 1.35vw;
    }
}

@media(max-width: 640px) {
    .greeting  h2 {
        font-size: calc(2.6vw * 1.25);
    }
    .greeting .button button {
        font-size: calc(2.6vw * 1.25);
    }
    .greeting .text p {
        font-size: calc(2.1vw * 1.25);
    }
}

@media(max-width: 480px) {
    .greeting  h2 {
        font-size: calc(2.6vw * 1.5);
    }
    .greeting .button button {
        font-size: calc(2.6vw * 1.5);
    }
    .greeting .text p {
        font-size: calc(2.1vw * 1.5);
    }
}